@import "tailwindcss";

@theme inline{
    --font-sans: var(--font-google-sans)
}

.glass-box {
  background-color: rgb(255 255 255 / 60%); /* Translucent white */
  backdrop-filter: blur(10px);               /* Blurs whatever is behind the div */
  -webkit-backdrop-filter: blur(10px);       /* Safari support */
  border: 1px solid rgb(255 255 255 / 20%);  /* Optional subtle edge */
}

.glass-box-light {
  background-color: rgb(255 255 255 / 20%); /* Translucent white */
  backdrop-filter: blur(5px);               /* Blurs whatever is behind the div */
  -webkit-backdrop-filter: blur(5px);       /* Safari support */
  border: 1px solid rgb(255 255 255 / 20%);  /* Optional subtle edge */
}